@import 'colors';

$border-radius: 0.2rem;

@mixin input-label {
  display: inline-block;
  width: 5rem;
  font-size: 1.6rem;
}

@mixin input-text {
  margin: 0.5rem;
  padding: 0.4rem;
  border: 0.1rem solid $color-black;
  border-radius: $border-radius;
  font-size: 1.2rem;
  width: 25rem;
}

@mixin button-orange {
  margin: 0.6rem;
  padding: 0.6rem;
  border: 0;
  border-radius: $border-radius;
  background-color: $color-orange;
  color: $color-white;
}