@import '../styles/colors';
@import '../styles/mixins';

.add-user--container {
  display: inline-block;
  width: 40rem;
}

.add-user--input-container {
  text-align: left;
}

.add-user--input-label {
  @include input-label
}

.add-user--input {
  @include input-text;
}

.add-user--submit {
  @include button-orange;
}