.display-user--container {
  display: inline-block;
  margin: 1rem;
  width: 40rem;
  font-size: 1.6rem;
}

.display-user--user-name {
  font-weight: 600;
  padding: 1rem;
  width: 50%;
}

.display-user--user-email {
  padding: 1rem;
  width: 50%;
}
