@import '../styles/colors';

$border-radius: 0.2rem;

.name-input--container {
  margin: 2rem;
}

.name-input--input {
  margin: 0.5rem;
  padding: 0.4rem;
  border: 0.1rem solid $color-black;
  border-radius: $border-radius;
}

.name-input--submit {
  padding: 0.6rem;
  border: 0;
  border-radius: $border-radius;
  background-color: $color-orange;
  color: $color-white;
}